@using BulkyBookWeb.Model;
@model  Category



<form method="post" asp-action="Delete">
    <div class="border p-3 mt-4">
        <div class="text-primary">
            <h2> Delete Category</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name"> </label>
            <input asp-for="Name" class="form-control" readonly />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DisplayedOrder"> </label>
            <input asp-for="DisplayedOrder" class="form-control" readonly />
            <span asp-validation-for="DisplayedOrder" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" asp-route-num=1 style="width:150px">Back to list </a>
    </div>
</form>



